<!DOCTYTPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/navcanvas.css')}}">
  <title>Meme Creator</title>
  </head>
  <body>
    <div class="navbar">
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('archive')}}">The Classical Archive</a>
      <a href="{{url_for('creator')}}">Creator</a>
      <a href="{{url_for('loginpage')}}">Log In</a>
  </div>

    <h1>The Classical Archive</h1>
    <p style="font-size:25px"> Memes have come a long way. Rather than go into detail, here's a meme to explain</p>
    <img src="/static/images/d3d.jpg" style="width:480px">


    <div class="borderbox">
      <p style="font-size:25px"> Below is an archive of 'Old School meme templates' feel free to download these pictures to use in the creator</p>
    <div class="column">
      <div class="row">
        <img src="/static/images/aamallard.png" style="width:240px ; height:240px">
        <img src="/static/images/anditsgone.png" style="width:240px ; height:240px">
        <img src="/static/images/awkseal.png" style="width:240px ; height:240px">
        <img src="/static/images/bjeel.png" style="width:240px ; height:240px">
        <img src="/static/images/boromir.png" style="width:240px ; height:240px">
        <img src="/static/images/cbear.jpg" style="width:240px ; height:240px">
        <img src="/static/images/evilracoon.png" style="width:240px ; height:240px">
        <img src="/static/images/fry.png" style="width:240px ; height:240px">
        <img src="/static/images/fwp.jpg" style="width:240px ; height:240px">
        <img src="/static/images/gears.png" style="width:240px ; height:240px">
        <img src="/static/images/gfrog.png" style="width:240px ; height:240px">
        <img src="/static/images/ggreg.png" style="width:240px ; height:240px">
        <img src="/static/images/hybridpeng.png" style="width:240px ; height:240px">
        <img src="/static/images/hybridpeng2.png" style="width:240px ; height:240px">
        <img src="/static/images/iwolf.png" style="width:240px ; height:240px">
        <img src="/static/images/pfarms.png" style="width:240px ; height:240px">
        <img src="/static/images/picard.png" style="width:240px ; height:240px">
        <img src="/static/images/woody.png" style="width:240px ; height:240px">
        <img src="/static/images/raptor.png" style="width:240px ; height:240px">
        <img src="/static/images/sapenguin.png" style="width:240px ; height:240px">
        <img src="/static/images/sawsomep.png" style="width:240px ; height:240px">
        <img src="/static/images/sbsteve.png" style="width:240px ; height:240px">
        <img src="/static/images/spiderman.jpg" style="width:240px ; height:240px">
        <img src="/static/images/stoned.png" style="width:240px ; height:240px">
        <img src="/static/images/pparrot.png" style="width:240px ; height:240px">
        <img src="/static/images/teacher.jpg" style="width:240px ; height:240px">
        <img src="/static/images/uopuffin.jpg" style="width:240px ; height:240px">
    </div>
  </div>
</div>
  </body>

</html>
