<!DOCTYTPE html>
<html>
<head>
  <title>Old School Meme Page</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/navcanvas.css')}}">
    <div class="navbar">
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('archive')}}">The Classical Archive</a>
      <a href="{{url_for('creator')}}">Creator</a>
      <a href="{{url_for('loginpage')}}">Log In</a>
  </div>

  </head>
  <body>


    <h1 style="font-size: 40px">Oh no! This page doesn't exist</h1>
    <p style="font-size: 20px"> Lucky for you, you can use the navigation bar to go back</p>



  </body>

</html>
